* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: "苹方", "Arail";
}

#z_header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    background: #ffffff;
    font-size: 2.4rem;
    text-align: center;
    line-height: 5rem;
    border-bottom: 1px solid #F1F1F1;
    z-index: 5;
}

#z_wrapper {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background: gainsboro;
    overflow: hidden;
}

#z_mian {

    background: #F0F0F0;
}

.click_back {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}
.z_sketch{

}
.sketch_nav {
    background: #ffffff;
padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    line-height: 3.5rem;
}
.sketch_nav li{
   /*transition: 0.5s;*/
box-sizing: border-box;
}

.sketch_nav .active {
    color: #E972AE;
    border-bottom: 2px solid #E972AE;
}
.sketch_of{
    margin-top: 1rem;
    background: #ffffff;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
flex-wrap: wrap
}
.sketch_of li{
    width: 30%;
    padding-top: 2rem;
}
.sketch_of img{
    width: 100%;}
.sketch_more{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
font-size: 1.5rem;
    padding: 0.5rem 0;
}

.z_video{
    background: #ffffff;

}
.z_videotop{
    background:#F0F0F0 ;
    padding: 1rem 1rem;
    font-size: 1.8rem;
}
.z_ulvideo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.z_ulvideo li{
    width: 40%;
padding: 1rem;
}
.z_ulvideo img{
    width: 100%;
}

