.s_sum a{
    width:20%;
}
.s_sum a img{
    max-width: 100%;
}
#content{
    background:#ffffff;
}
.content{
    background:#F0F0F0;
    padding: 10px 3%;
}
.content div{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}
.content div a{
    padding: 10px 0;
    margin-top: 5px;
}
h3{
    font-size: 2rem;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.s_works a{
    width:32%;
}
.s_works a img{
    max-width:100%;
}
#s_video{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
#s_video a{
    display: block;
    width:30%;
    text-align: center;
}
#s_video a img{
    max-width:100%;
}