@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "苹方";
}
html,body{
    font-size: 62.5%;
    height: 100%;
    background: #F5F5F5;
}
a{
    width: 10%;
    text-decoration: none;
    color: #333;
}
#mj_header4{
    #mj_tou{
        padding:1% 4% ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        font-size: 2rem;
        p{
            width: 8%;
            height:30px;
            img{
                width: 70%;
                height: 50%;
            }
        }
    }
   #mj_tu{
       text-align: center;
       padding: 2%;
       img{
           width: 25%;
       }
       h2{
           color: #333;
           font-size: 1.6rem;
       }
       p{
           font-size: 1.4rem;
       }
   }
   #mj_nav{
       display: flex;
       justify-content: space-around;
       text-align: center;
       padding: 1% 0;
       background: #fff;
       font-size: 1.2rem;
       margin-bottom: 2%;
       line-height: 20px;
   }
}
#mj_main4{
    background: #fff;
    padding: 2%;
    .mj_bottom{
       letter-spacing: 4px;
       h4{
           font-size: 1.4rem;
       }
       .mj_txtP{
           font-size: 1.2rem;
       }
       .mj_imgUl{
           display: flex;
           justify-content: space-between;
           padding-top: 2%;
           li{
               width: 49%;
               letter-spacing: 1px;
               img{
                   width: 100%;
                   height: 90%;
               }
           }
       }
    }
}
#mj_footer2{
    width: 100%;
    position: absolute;
    bottom: 0;
    ul{
        display: flex;
        justify-content: space-between;
        padding: 2% 10%;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            img{
                width: 40%;
                height: 80%;
            }
        }
    }
}
